.startButton{
    background-color: black;
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    color: rgb(163, 163, 163);
    font-size: 16px;
    margin-left: 100px;
}

.startInput{
    width: 200px;
    height: 34px;
    border: 1px solid #000000;
    border-radius: 15px;
    text-indent: 15px;
}

.title{
    margin-left: 650px;
}